[Desktop Entry]
Name=Browser 
Comment=Qt5 simple webbrowser
Exec=/opt/qt5/examples/webkitwidgets/browser/browser
Icon=qtlogo
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;Network;WebBrowser;

