[Desktop Entry]
Name=Calculator 
Comment=Qt5 calculator
Exec=/usr/share/qt5/examples/declarative/demos/calculator/calculator
Icon=qtlogo
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;Utility;

