[Desktop Entry]
Name=Clocks 
Comment=Qt5 clocks
Exec=/usr/share/qt5/examples/declarative/toys/clocks/clocks
Icon=qtlogo
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;Utility;

