[Desktop Entry]
Name=FancyBrowser 
Comment=Qt5 simple webbrowser
Exec=/opt/qt5/examples/webkitwidgets/fancybrowser/fancybrowser
Icon=qtlogo
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;Network;WebBrowser;

