[Desktop Entry]
Name=QmlViewer 
Comment=Qt5 qml viewer
Exec=/usr/lib/qt5/bin/qmlviewer
Icon=qtlogo
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;AudioVideo;Player;

