[Desktop Entry]
Name=Samegame 
Comment=Qt5 samegame
Exec=/usr/share/qt5/examples/declarative/demos/samegame/samegame
Icon=qtlogo
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;Game;

