[Desktop Entry]
Name=Snake 
Comment=Qt5 snake
Exec=/usr/share/qt5/examples/declarative/demos/snake/snake
Icon=qtlogo
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;Game;

