[Desktop Entry]
Name=Tic-tac-toe 
Comment=Qt5 clocks
Exec=/usr/share/qt5/examples/declarative/toys/tic-tac-toe/tic-tac-toe
Icon=qtlogo
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;Game;

