[Desktop Entry]
Name=QML Virtual Keyboard
GenericName=Virtual Keyboard
Comment=QML Virtual Keyboard Example
Exec=/usr/bin/basic
Icon=input-keyboard
MimeType=application/x-mimearchive;
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;System;
