[Desktop Entry]
Name=QtWebEngine Markdown Editor
GenericName=Markdown Editor
Comment=QtWebEngine based markdown editor
Exec=/usr/bin/markdowneditor
Icon=demobrowser
MimeType=application/x-mimearchive;
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;Utility;TextEditor;
