[Desktop Entry]
Name=QtWebEngine QuickNanobrowser
GenericName=Web Browser
Comment=QtWebEngine based web browser
Exec=/usr/bin/quicknanobrowser
Icon=demobrowser
MimeType=application/x-mimearchive;
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;Network;WebBrowser;
