[Desktop Entry]
Name=Flickrview 
Comment=Qt5 flickr application
Exec=/usr/share/qt5/examples/webkitqml/flickrview/flickrview
Icon=qtlogo
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;Graphics;Viewer;Photography;

