[Desktop Entry]
Name=Youtubeview 
Comment=Qt5 youtube application
Exec=/usr/share/qt5/examples/webkitqml/youtubeview/youtubeview
Icon=qtlogo
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;AudioVideo;Player;

