[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Larch
Comment=
Categories=Application;Development
Exec=/usr/bin/larch
Icon=larch
Terminal=false
StartupNotify=true
