[Desktop Entry]
Exec=nvidia-settings --load-config-only
TryExec=/usr/bin/nvidia-settings
Name=Restore the video card and monitor parameters previously set in NVIDIA Settings
Name[it]=Ripristina i parametri di scheda video e monitor precedentemente salvati in NVIDIA Settings
Type=Service
X-DBUS-StartupType=none
X-KDE-autostart-phase=1
X-KDE-StartupNotify=false
